.shop-section{
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.products-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 45px;
    margin: 20px auto;
}

.cart-container{
    background-color: #FF99004D;
    padding-left: 15px;
}

.cart-container h4{
    text-align: center;
}