.shop-section{
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.products-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    margin: 20px auto;
}

.cart-container{
    background-color: #FF99004D;
    padding-left: 15px;
    padding-bottom: 20px;
}

.pagination{
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination select{
    cursor: pointer;
    font-size: 1.1rem;
    padding: 5px 10px;
}

.pagination button{
    margin-right: 20px;
    cursor: pointer;
    border: 1px solid slategray;
    padding: 5px;
    transition: all 0.2s ease-in-out;
}

.page-btn, .pagination button:hover{
    background-color: orange;
    color: white;
    border: 1px solid white;
    transform: scale(1.3);
}

@media all and (max-width : 768px) {
    .products-container{
        grid-template-columns: repeat(1,1fr);
    }
    .shop-section{
        grid-template-columns: 3fr 2fr;
    }
}