.shop-section{
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.products-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 45px;
    margin: 20px auto;
}

.cart-container{
    background-color: #FF99004D;
    padding-left: 15px;
    padding-bottom: 20px;
}

@media all and (max-width : 768px) {
    .products-container{
        grid-template-columns: repeat(1,1fr);
    }
    .shop-section{
        grid-template-columns: 3fr 2fr;
    }
}