.cart h4{
    text-align: center;
    margin-top: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    color: #1C2B35;
}

.cart p{
    margin: 12px 0;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 0.005em;
    color: #2A414F;
}

.cart{
    position: sticky ;
    top: 5%;
}

.grand-total{
    margin-top: 13px;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    letter-spacing: 0.0015em;
}

.clear-btn{
    background: #FF3030;
    border-radius: 4px;
    width: 232px;
    height: 48px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    cursor: pointer;
    transition: all 0.4s ease;
}

.clear-btn:hover{
    background-color: darkred;
}

.clear-btn p{
    color: white;
    margin-right: 5px;
}