.review-cart {
  background: rgba(255, 153, 0, 0.3);
  border-radius: 8px;
  margin: 100px 150px;
  padding: 20px;
  text-align: center;
  height: fit-content;
  position: sticky;
  top: 20%;
}

.review-container{
    margin-top: 50px;
}
