.header{
    background-color: #1C2B35;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 140px;
    padding-right: 140px;
}

.header a{
    margin-left: 36px;
    text-decoration: none;
    color: white;
    transition: all 0.4s ease-in-out;
}

.header a:hover{
    color: orange;
}